form{
    display: flex;
    justify-content: center;

}

.searchbar{
    width: 500px;
    height: 2.5rem;
    border-radius: 15px;
    border: 1px solid ;
    font-size: 1.2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.searchbutton{
    width: 10rem;
    border-radius: 15px;
    border: none;
    margin-left: 2rem;
    font-size: 1.2rem;
}